<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DataAccessTier.Properties.Settings.ManagementToolsConnectionString"
            connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=|DataDirectory|\ManagementTools.mdf;Integrated Security=True;Connect Timeout=30"
            providerName="System.Data.SqlClient" />
        <add name="DataAccessTier.Properties.Settings.ManagementToolsConnectionString1"
            connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=F:\C#\tawhid\ManagementTools.mdf;Integrated Security=True;Connect Timeout=30"
            providerName="System.Data.SqlClient" />
        <add name="DataAccessTier.Properties.Settings.ManagementToolsConnectionString2"
            connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=E:\ManagementTools.mdf;Integrated Security=True;Connect Timeout=30"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>